@use '../../../styles/variables' as *;
@use '../../../src/styles/mixins' as *;

.container {
    height: 400px;
    width: 300px;
    background-color: #e0e0e0;
    overflow: hidden;
}


.header {
    color: green;
    padding: 15px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    @include font($fs: 20px, $fw: 700, $lh: calc(18 / 18));

    &Container {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &Wrap {
        display: flex;
        align-items: center;
    }
}

.list {
    margin: 0;
    list-style: none;
    height: calc(100% - 100px);
    overflow-y: auto;

    &Item {
        color: green;
        padding: 15px;
    }
}